/*-- DrLeonardo Design for GravitLauncher --*/

/* Backgrounds */
#layout {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/login.png');
}

#loginPane,
#serverPaneLayout {
    -fx-background-color: transparent;
}


#login {
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-color:rgba(122, 122, 122, 0.1);
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-radius:5px 5px 0 0;
    -fx-border-width: 1 1 1 1;
}

#password{
    -fx-background-radius: 0 0 5px 5px;
    -fx-background-color:rgba(122, 122, 122, 0.1);
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-radius:0 0 5px 5px;
    -fx-border-width: 0 1 1 1;
}


#goAuth {
    -fx-background-color: #059669;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#password:hover,
#password:pressed{
    -fx-background-radius: 0 0 5px 5px;
    -fx-background-color:rgba(255, 255, 255, 0.5);
    -fx-border-color: rgba(16, 185, 129, 1);
    -fx-border-radius:0 0 5px 5px;
    -fx-border-width: 1 1 1 1;
}
#login:hover,
#login:pressed {
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-color:rgba(255, 255, 255, 0.5);
    -fx-border-color: rgba(16, 185, 129, 1);
    -fx-border-radius:5px 5px 0 0;
    -fx-border-width: 1 1 1 1;
}

#auth_on:hover,
#auth_on:pressed {
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

#savePassword,
#autoenter {
    -fx-font-size: 8pt;
    -fx-text-fill: #5E5E5E;
}

#forgotPass {
    -fx-font-size: 8pt;
    -fx-text-fill: rgba(16, 185, 129, 1);;
}

#forgotPass:hover,
#forgotPass:pressed {
    -fx-text-fill: rgba(5, 150, 105, 1);
}

#createAccount {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: #10b981;
}

#textLogin {
    -fx-font-size: 12pt;
    -fx-text-fill: #f3f4f6;
}

#createAccount:hover,
#createAccount:pressed {
    -fx-text-fill: #FFC700;
}

#newsArea {
    -fx-font-size: 10pt;
    -fx-fill: #fff;
}

#combologin {
    -fx-text-fill: #606060;
    -fx-prompt-text-fill: #A9A9A9;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-pref-width: 280px;
    -fx-pref-height: 45px;
}


#iconsLogin {
    -fx-fill: #fff;
}

#close{
    -fx-bacground-color: transparent;
    -fx-background-image: url('exitButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#hide{
    -fx-bacground-color: transparent;
    -fx-background-image: url('minimizeButton.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


/*-- DrLeonardo Design for GravitLauncher --*/
/*-- Edited by v0dl3 fot HidiaCraft --*/